<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strip the text!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href = "../static/style.css">
</head>

<body>
    <header>
        <h1>Paste the text!</h1>
        <h2>텍스트를 복붙해주세요!</h2>
    </header>
    <main>
        <div id="content">
            <form action="" method="post">
                <textarea name="input" id="input" cols="30" rows="10" placeholder="input"></textarea>
                <button type="submit" formmethod="POST">보내기</button>
            </form>
            
            <textarea readonly name="output" id="output" cols="30" rows="10" placeholder="output"></textarea>
        </div>
    </main>
    <footer>
        <p>email: ark5354@gmail.com</p>
        <a href="https://github.com/gon2gon2">Github</a>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
</body>
</html>